.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: larger;
  color: #071a3d;
}

.site-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.site-data h2 {
  color: #071a3d;
}

.full-data {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
}

.data-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.activity-item {
  padding: 0.6rem;
  background-color: #071a3d;
  color: white;
  width: 5rem;
  border-radius: 6px;
  text-align: center;
  margin-top: 10px;
}

#address {
  text-align: right;
}

.maplink {
  color: #071a3d;
  text-decoration: none;
  font-size: large;
}

.maplink:hover {
  text-decoration: underline;
}

.maplink:visited {
  color: #071a3d;
  text-decoration: none;
  font-size: large;
}

.return {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.return-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  background-color: #071a3d;
  height: 40px;
  text-decoration: none;
  border: none;
}

.return-button:visited {
  text-decoration: none;
}

@media screen and (min-width: 564px) {
  .site-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .full-data {
    max-width: 600px;
  }
}
